@page
@model Parking.App.Frontend.DetalleParqueaderoModel
@using Parking.App.Dominio
@{
}
<h3>Detalle del Parquedero @Model.parqueadero.Espacio</h3>
<p>
<p>   
        <br>
        <br>  
        <li>Placa Vehiculo: @Model.parqueadero.Vehiculo.Placa</li><br> 
        <li>Espacio: @Model.parqueadero.Espacio</li><br> 
        <li>Hora Entrada: @Model.parqueadero.Hora_Entrada</li><br> 
        <li>Hora Salida: @Model.parqueadero.Hora_Salida</li><br> 
<br>
        <br> 
<a asp-page="./index" class="btn btn-primary">Volver</a>
