@page
@model Parking.App.Frontend.DetalleParqueaderoModel
@using Parking.App.Dominio
@{
}
<h1>Detalle del Parquedero @Model.parqueadero.Espacio</h1>
<ul>     
        <li>@Model.parqueadero.Vehiculo.Placa</li>
        <li>@Model.parqueadero.Espacio</li>
        <li>@Model.parqueadero.Hora_Entrada</li>
        <li>@Model.parqueadero.Hora_Salida</li>

</ul>